## Understanding `occupations`

The code below was written in order to understand where we had blanks and, then, later to see what kinds of occupations we had. The answer was: too many. How we are going to usefully assign disciplines, by hand, is left for another time.

In [2]:
import pandas

df = pandas.read_csv('../data/talks_6d.csv').drop(['Unnamed: 0'], axis = 1)
df.head()

,citation,author,gender,title,date,length,text,occupation,numDate
0,Al Gore 2006,Al Gore,male,Averting the climate crisis,Jun 2006,957,Thank you so much Chris. And it's truly a gre...,Climate advocate,200606
1,David Pogue 2006,David Pogue,male,Simplicity sells,Jun 2006,1271,Hello voice mail my old friend. I've called f...,Technology columnist,200606
2,Cameron Sinclair 2006,Cameron Sinclair,male,My wish: A call for open-source architecture,Jul 2006,1398,I'm going to take you on a journey very quickl...,"Co-founder, Architecture for Humanity",200607
3,Sergey Brin + Larry Page 2007,Sergey Brin + Larry Page,male,The genesis of Google,May 2007,1205,Sergey Brin I want to discuss a question I kn...,NaN,200705
4,Nathalie Miebach 2011,Nathalie Miebach,female,Art made of storms,Oct 2011,247,What you just heard are the interactions of ba...,Artist,201110

In [3]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
print(df.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

Missing values per column:
citation       0
author         0
gender         0
title          0
date           0
length         0
text           0
occupation    79
numDate        0
dtype: int64

In [ ]:
# Get all the unique values in the occupation column
# (which will come out as an array) and convert to a list
# Included here is the total number of values and the number of rows
# that have no values at all.
occupations = df2.occupation.unique().tolist()
occups = [ str(item) for item in occupations ]
print(len(occupations), sum(df2.occupation.isnull()), sorted(occups))

with open('../outputs/occupations.txt', 'w') as file_handler:
    for item in occups:
        file_handler.write("{}\n".format(item))