In [1]:
# Let python create the column names list:
with open('../data/talks_6d.csv') as f:
    colnames = f.readline().strip().split(",")
print(colnames)

# Now will import the csv as a dataframe
import pandas
TEDtalks = pandas.read_csv('../data/talks_6e.csv', names=colnames)

TEDtalks.head()

['', 'citation', 'author', 'gender', 'title', 'date', 'length', 'text', 'occupation', 'numDate']

,,citation,author,gender,title,date,length,text,occupation,numDate
NaN,citation,author,gender,title,date,length,text,occupation,numDate,ValenceScore
2.0,David Pogue 2006,David Pogue,male,Simplicity sells,Jun 2006,1271,Hello voice mail my old friend. I've called f...,Technology columnist,200606,5.930812250332885
3.0,Cameron Sinclair 2006,Cameron Sinclair,male,My wish: A call for open-source architecture,Jul 2006,1398,I'm going to take you on a journey very quickl...,"Co-founder, Architecture for Humanity",200607,6.094664310954062
4.0,Sergey Brin + Larry Page 2007,Sergey Brin + Larry Page,male,The genesis of Google,May 2007,1205,Sergey Brin I want to discuss a question I kn...,NaN,200705,6.230646929824561
5.0,Nathalie Miebach 2011,Nathalie Miebach,female,Art made of storms,Oct 2011,247,What you just heard are the interactions of ba...,Artist,201110,6.291543624161073

In [2]:
TEDtalks.shape

(2068, 10)

In [12]:
talks = TEDtalks.length.tolist()
print(talks[0])

text

In [ ]:
from nltk.tokenize import WhitespaceTokenizer

oneKs, twoKs, threeKs, fourKs = [], [], [], []
for talk in talks:
    if len(WhitespaceTokenizer().tokenize(talk)) > 1000:
        oneKs.append(talks.index(talk))
    if len(WhitespaceTokenizer().tokenize(talk)) > 2000:
        twoKs.append(talks.index(talk))
    if len(WhitespaceTokenizer().tokenize(talk)) > 3000:
        threeKs.append(talks.index(talk))
    if len(WhitespaceTokenizer().tokenize(talk)) > 4000:
        fourKs.append(talks.index(talk))

In [18]:
print(len(oneKs), len(twoKs), len(threeKs), (len(fourKs)))

1759 1131 365 40