In [1]:
import pandas as pd, numpy as np

In [2]:
# Here's the 7 x 10 array
scores = np.random.randint(100, size= (7,10))

# Here are the names of the texts/observations
names = ['alpha','bravo','charlie','delta','echo','golf','hotel']

# And here are the observation names
years = [f'year{item}' for item in range(1,11)]

In [5]:
df = pd.DataFrame(data=scores, index=names, columns=years)

In [6]:
df.head(7)

         year1  year2  year3  year4  year5  year6  year7  year8  year9  year10
alpha       63     75     58     39     56     54     27     52     12      36
bravo       89     68     62      3     48     82     97     95     63      87
charlie     14     71     15      4     85     39     54     21     46      77
delta       44     19     79      3     73     86     14     20     87       5
echo        60     41      8     91     69     33     56     51     40       4
golf        52     84      9      0     39     94     91      4     84       8
hotel       37     98     33     50     73     83     38     71     22      96

Ahead of turning things over to the wizardy of **pandas** I want to establish the math in my own head:

In [8]:
year1 = df.year1.tolist()
print(year1)

[63, 89, 14, 44, 60, 52, 37]

In [9]:
for i in year1:
    print(i/sum(year1))

0.17548746518105848
0.2479108635097493
0.03899721448467967
0.12256267409470752
0.1671309192200557
0.14484679665738162
0.10306406685236769

Okay, those are our outcomes for `year1`, and when we wave the **pandas** wand we get the same results:

In [10]:
df = df / df.sum()
df.head(7)

,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10
alpha,0.175487,0.164474,0.219697,0.205263,0.126411,0.114650,0.071618,0.165605,0.033898,0.115016
bravo,0.247911,0.149123,0.234848,0.015789,0.108352,0.174098,0.257294,0.302548,0.177966,0.277955
charlie,0.038997,0.155702,0.056818,0.021053,0.191874,0.082803,0.143236,0.066879,0.129944,0.246006
delta,0.122563,0.041667,0.299242,0.015789,0.164786,0.182590,0.037135,0.063694,0.245763,0.015974
echo,0.167131,0.089912,0.030303,0.478947,0.155756,0.070064,0.148541,0.162420,0.112994,0.012780
golf,0.144847,0.184211,0.034091,0.000000,0.088036,0.199575,0.241379,0.012739,0.237288,0.025559
hotel,0.103064,0.214912,0.125000,0.263158,0.164786,0.176221,0.100796,0.226115,0.062147,0.306709

In [11]:
df['STD'] = df.std(axis=1)
df.head(7)

,year1,year2,year3,year4,year5,year6,year7,year8,year9,year10,STD
alpha,0.175487,0.164474,0.219697,0.205263,0.126411,0.114650,0.071618,0.165605,0.033898,0.115016,0.058218
bravo,0.247911,0.149123,0.234848,0.015789,0.108352,0.174098,0.257294,0.302548,0.177966,0.277955,0.087668
charlie,0.038997,0.155702,0.056818,0.021053,0.191874,0.082803,0.143236,0.066879,0.129944,0.246006,0.072312
delta,0.122563,0.041667,0.299242,0.015789,0.164786,0.182590,0.037135,0.063694,0.245763,0.015974,0.100949
echo,0.167131,0.089912,0.030303,0.478947,0.155756,0.070064,0.148541,0.162420,0.112994,0.012780,0.130260
golf,0.144847,0.184211,0.034091,0.000000,0.088036,0.199575,0.241379,0.012739,0.237288,0.025559,0.095849
hotel,0.103064,0.214912,0.125000,0.263158,0.164786,0.176221,0.100796,0.226115,0.062147,0.306709,0.078417