# Into the Matrix: Analysis

## Imports and Data

In [1]:
# Imports
import pandas as pd

In [2]:
# Load the Data
df = pd.read_csv('../output/term_year_matrix.csv')
print(df.shape, list(df))

(21722, 18) ['Unnamed: 0', 'term', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [3]:
# The 'Unnamed: 0' column is a vestigial index, let's drop it:
df.drop(columns = ['Unnamed: 0'], inplace=True)

In [4]:
# It would be nice to save the matrix without the vestigial index:
# df.to_csv('../output/term_year_matrix.csv')

## Finding Terms

In [5]:
# To filter for a single term:
df[df['term']=='nuclear']

,term,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
13276,nuclear,10,1,0,4,3,11,73,9,78,7,14,22,12,8,4,2

In [8]:
# To filter for multiple terms:
terms = ['global', 'climate', 'technology', 'past', 'future']
df[df.term.isin(terms)]

,term,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
3708,climate,1,10,1,14,9,19,17,26,17,4,28,23,23,14,37,95
8205,future,22,40,18,34,63,43,30,74,42,52,51,56,68,63,54,194
8518,global,12,11,2,12,40,26,29,36,32,20,26,16,33,39,102,41
14027,past,18,21,12,7,18,20,33,45,27,26,28,32,28,40,40,42
19345,technology,41,48,40,125,65,61,32,81,44,68,102,90,91,64,79,103

In [7]:
## Normalizing Frequency