# Gendering the talks 

One of our areas of interest are to see if TED talks by men and women are different. If there are differences, we would like to see if we can detect the gender of a speaker based on the words in a TED talk transcript. To pursue these avenues, we begin by "gendering" talks when possible. 

In this notebook, we use the genders of the speakers to "gender" the TED talks themselves. A talk with one speaker inherits the gender of the speaker. For a talk with two speakers, if the genders of the speakers are the same, then we proceed as if the talk had one speaker. For talks with two speakers where the genders of the speakers is not the same, we place these talks to the side.

In [1]:
import pandas as pd
import csv
import string

In [2]:
# Load the gendered speaker file:
speakers = pd.read_csv("speakers_with_gender.csv")

In [3]:
ted_only = pd.read_csv('../data/Release_v0/TEDonly_final.csv')
ted_plus = pd.read_csv('../data/Release_v0/TEDplus_final.csv')

In [4]:
ted_only.head()

,Unnamed: 0,Unnamed: 0.1,Talk_ID,public_url,headline,description,event,duration,published,tags,views,text,speaker_1,speaker_2,speaker_3,speaker_4
0,0,0,1,https://www.ted.com/talks/al_gore_on_averting_...,Averting the climate crisis,With the same humor and humanity he exuded in ...,TED2006,0:16:17,6/27/06,"alternative energy,cars,global issues,climate ...",3266733,"Thank you so much, Chris. And it's truly a g...",Al Gore,NaN,NaN,NaN
1,1,1,7,https://www.ted.com/talks/david_pogue_says_sim...,Simplicity sells,New York Times columnist David Pogue takes aim...,TED2006,0:21:26,6/27/06,"simplicity,entertainment,interface design,soft...",1702201,"(Music: ""The Sound of Silence,"" Simon & Garf...",David Pogue,NaN,NaN,NaN
2,2,2,53,https://www.ted.com/talks/majora_carter_s_tale...,Greening the ghetto,"In an emotionally charged talk, MacArthur-winn...",TED2006,0:18:36,6/27/06,"MacArthur grant,cities,green,activism,politics...",2000421,If you're here today — and I'm very happy th...,Majora Carter,NaN,NaN,NaN
3,3,3,66,https://www.ted.com/talks/ken_robinson_says_sc...,Do schools kill creativity?,Sir Ken Robinson makes an entertaining and pro...,TED2006,0:19:24,6/27/06,"children,teaching,creativity,parenting,culture...",51614087,Good morning. How are you? (Laughter) ...,Ken Robinson,NaN,NaN,NaN
4,4,4,92,https://www.ted.com/talks/hans_rosling_shows_t...,The best stats you've ever seen,You've never seen data presented like this. Wi...,TED2006,0:19:50,6/27/06,"demo,Asia,global issues,visualizations,global ...",12662135,"About 10 years ago, I took on the task to te...",Hans Rosling,NaN,NaN,NaN

In [5]:
# Set the talk ID as the index and drop the unnecessary first two columns: 
ted_only = ted_only.set_index('Talk_ID')
# ted_only = ted_only.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [6]:
ted_only.head()

,Unnamed: 0,Unnamed: 0.1,public_url,headline,description,event,duration,published,tags,views,text,speaker_1,speaker_2,speaker_3,speaker_4
Talk_ID,,,,,,,,,,,,,,,
1,0,0,https://www.ted.com/talks/al_gore_on_averting_...,Averting the climate crisis,With the same humor and humanity he exuded in ...,TED2006,0:16:17,6/27/06,"alternative energy,cars,global issues,climate ...",3266733,"Thank you so much, Chris. And it's truly a g...",Al Gore,NaN,NaN,NaN
7,1,1,https://www.ted.com/talks/david_pogue_says_sim...,Simplicity sells,New York Times columnist David Pogue takes aim...,TED2006,0:21:26,6/27/06,"simplicity,entertainment,interface design,soft...",1702201,"(Music: ""The Sound of Silence,"" Simon & Garf...",David Pogue,NaN,NaN,NaN
53,2,2,https://www.ted.com/talks/majora_carter_s_tale...,Greening the ghetto,"In an emotionally charged talk, MacArthur-winn...",TED2006,0:18:36,6/27/06,"MacArthur grant,cities,green,activism,politics...",2000421,If you're here today — and I'm very happy th...,Majora Carter,NaN,NaN,NaN
66,3,3,https://www.ted.com/talks/ken_robinson_says_sc...,Do schools kill creativity?,Sir Ken Robinson makes an entertaining and pro...,TED2006,0:19:24,6/27/06,"children,teaching,creativity,parenting,culture...",51614087,Good morning. How are you? (Laughter) ...,Ken Robinson,NaN,NaN,NaN
92,4,4,https://www.ted.com/talks/hans_rosling_shows_t...,The best stats you've ever seen,You've never seen data presented like this. Wi...,TED2006,0:19:50,6/27/06,"demo,Asia,global issues,visualizations,global ...",12662135,"About 10 years ago, I took on the task to te...",Hans Rosling,NaN,NaN,NaN

### Slicing data for just what we need

In this notebook, we seek to combine information from our gendered-speakers file and from our ted-talks file. In the rest of this file, we will take an SQL flavored approach, that is just carrying the views of the data that we need to ultimately add the gender of our speakers to the talks that they give. 

With this view in mind, we organize our thoughts regarding our data into `PRIMARY_KEY` and `FOREIGN_KEY`:
* The `PRIMARY_KEY` for `TED_only` is the `Talk_ID`, while the four columns with `speaker_` can each be thought of the `FOREIGN_KEY`s
* The `PRIMARY_KEY` for `speakers` is the `speaker` column. Here there is no foreign key. There is also an index column that we could use as the primary key, but as we will shortly see, it will not matter which we use. 

As we proceed, we will just select the columns that are relevant to our work of gendering the talks. For `TED_only`, we will keep `Talk_ID` and the four speaker columns. For `speakers`, we will keep the name of the speaker (`speaker`), the gender (`Gender_handcheck`, labeled according to work in a previous notebook) and the index column.

In [7]:
ted_slice = ted_only[["speaker_1","speaker_2","speaker_3","speaker_4"]]

In [8]:
ted_slice.head()

             speaker_1 speaker_2 speaker_3 speaker_4
Talk_ID
1              Al Gore       NaN       NaN       NaN
7          David Pogue       NaN       NaN       NaN
53       Majora Carter       NaN       NaN       NaN
66        Ken Robinson       NaN       NaN       NaN
92        Hans Rosling       NaN       NaN       NaN

#### Dividing our talks by number of speakers

We now will divide up the `ted_slice` data frame into up to four data frames: one for each number of speakers (up to 4 speakers, which is the max number of speakers). 

##### One Speaker

First, we want to know which talks only have one speaker. To do this, we only select the rows that `NaN` for the second speaker. We will then only keep the first speaker and talk ID columns.

In [9]:
talk1speak = ted_slice[ted_slice['speaker_2'].isnull()]

# https://stackoverflow.com/questions/43831539/how-to-select-rows-with-nan-in-particular-column

In [10]:
talk1speak.shape

(966, 4)

In [11]:
# Just keep the first speaker (as the others are all NaN)

talk1 = talk1speak[["speaker_1"]]

In [12]:
talk1.head()

             speaker_1
Talk_ID
1              Al Gore
7          David Pogue
53       Majora Carter
66        Ken Robinson
92        Hans Rosling

We have 966 talks that have only one speaker. 

##### Two Speakers

To figure out which talks have exactly two speakers, we select the rows that have a second speaker, but **not** a third one. We will then only keep the first two speakers and talk ID columns.

In [13]:
s2temp = ted_slice[ted_slice['speaker_3'].isnull()]
talk2speak = s2temp[~s2temp['speaker_2'].isnull()]

In [14]:
talk2speak.shape

(25, 4)

In [15]:
talk2 = talk2speak[["speaker_1","speaker_2"]]

We have 25 talks that have two speakers. 

##### Three Speakers

To figure out which talks have three speakers, we select the rows that have a third speaker, but **not** a fourth one. We will then keep the first three speaker and talk ID columns.

In [16]:
s3temp = ted_slice[ted_slice['speaker_4'].isnull()]
talk3speak = s3temp[~s3temp['speaker_3'].isnull()]

In [17]:
talk3speak.shape

(0, 4)

There are no talks with exactly three speakers. 

##### Four  Speakers
To figure out which talks have four speakers, we select the rows that have a fourth speaker. For this final frame we keep all four speaker columns as well as the talk ID column.

In [18]:
talk4speak = ted_slice[~ted_slice['speaker_4'].isnull()]

In [19]:
talk4speak.shape

(1, 4)

In [20]:
talk4 = talk4speak[["speaker_1","speaker_2","speaker_3","speaker_4"]]

As a quick check, we check if the total number of rows in the `talkNspeak` data frames equal the number of rows in `ted_only`:

In [21]:
ted_only.shape[0] == talk1speak.shape[0] + talk2speak.shape[0] + talk3speak.shape[0] + talk4speak.shape[0]

True

## Adding gender to the talks

Now that we have separate the talks into smaller data frames, each representing the number of speakers, we will be working to "gender" the talks. 

As with `TED_only`, we are only going to carry the columns that we need for this work, that is just the `speaker` and `gender` columns. We also have an index column, which is fine.

In [22]:
gender_slice = speakers[["speaker","Gender_handcheck"]]
gender_slice = gender_slice.rename(columns={"Gender_handcheck": "gender"})

# Check that we have the columns that we want, by looking at just the beginning of the data frame
gender_slice.head()

         speaker  gender
0        Al Gore    male
1    David Pogue    male
2  Majora Carter  female
3   Ken Robinson    male
4   Hans Rosling    male

In [23]:
talk1test = talk1.reset_index().merge(gender_slice, left_on = "speaker_1", right_on = "speaker", how = "left")

In [24]:
talk1test.head()

   Talk_ID      speaker_1        speaker  gender
0        1        Al Gore        Al Gore    male
1        7    David Pogue    David Pogue    male
2       53  Majora Carter  Majora Carter  female
3       66   Ken Robinson   Ken Robinson    male
4       92   Hans Rosling   Hans Rosling    male

### Gendering talks with one speaker

To gender our talks, we will use five methods from `pandas`: 
1. `reset_index()`
2. `merge()`
3. `drop()`
4. `set_index()`
5. `rename()`

For the talks with just one speaker, we will use each of these methods separately, so that it is clear what each is doing. In the later pieces, we will chain these methods together. 

First, let us remind ourselves what we are starting with:

In [25]:
talk1.head()

             speaker_1
Talk_ID
1              Al Gore
7          David Pogue
53       Majora Carter
66        Ken Robinson
92        Hans Rosling

The method `reset_index()` creates a new column where the index for each row is just the row's number. We need to do this so that we don't lose the `talk_ID` column when we use `merge()` in the next step:

In [26]:
talk1_step1 = talk1.reset_index()
talk1_step1.head()

   Talk_ID      speaker_1
0        1        Al Gore
1        7    David Pogue
2       53  Majora Carter
3       66   Ken Robinson
4       92   Hans Rosling

In [27]:
# We want to take speaker gender from speakers and put it into the talks
# Remove the extra speaker column and rename the last column to "talk_gender"
talk1tmp = (talk1.reset_index()
            .merge(gender_slice, left_on = "speaker_1", right_on = "speaker", how = "left")
            .drop(columns = ['speaker']))

# We use `reset_index()` to preserve the `Talk_ID` column

In [28]:
talk1tmp.head()

   Talk_ID      speaker_1  gender
0        1        Al Gore    male
1        7    David Pogue    male
2       53  Majora Carter  female
3       66   Ken Robinson    male
4       92   Hans Rosling    male

In [29]:
# Reset the index back to `Talk_ID` 
talk1tmp.set_index("Talk_ID", inplace = True)

In [30]:
talk1tmp.head()

             speaker_1  gender
Talk_ID
1              Al Gore    male
7          David Pogue    male
53       Majora Carter  female
66        Ken Robinson    male
92        Hans Rosling    male

In [31]:
talk1tmp.rename(columns={"gender": "talk_gender"}, inplace = True)

In [32]:
talk1tmp.head()

             speaker_1 talk_gender
Talk_ID
1              Al Gore        male
7          David Pogue        male
53       Majora Carter      female
66        Ken Robinson        male
92        Hans Rosling        male

### Gendering talks with two speakers

Now with that talks with just one speaker each have been "gendered," we turn our attention to the talks with multiple speakers. If the multiple speakers for a talk have the same gender, then we label the talk with that gender. 

We start with those that have two speakers. We will add the gender for the first speaker and then for the second speaker. Our procedure is similar to the above process for just one speaker.

In [33]:
print(talk2.shape)

talk2.head()

(25, 2)

            speaker_1         speaker_2
Talk_ID
118       Sergey Brin        Larry Page
222       Jill Sobule     Julia Sweeney
224         Roy Gould       Curtis Wong
246      Tod Machover        Dan Ellsey
322      Bruno Bowden  Rufus Cappadocia

We're going to make a copy of our talks with two speakers.

In [34]:
# We want to take speaker gender from speakers and put it into the talks
# Remove the extra speaker column and rename the last column to "gender_1"
talk2tmp = (talk2.reset_index()
            .merge(gender_slice, left_on = "speaker_1", right_on = "speaker", how = "left")
            .drop(columns = ['speaker'])
            .merge(gender_slice, left_on = "speaker_2", right_on = "speaker", how = "left")
            .drop(columns = ['speaker'])
            .rename(columns={"gender_x": "gender_1", "gender_y": "gender_2"})
            .set_index("Talk_ID"))
# We use `reset_index()` to preserve the `Talk_ID` column

# Add empty column for the talk's gender: 
talk2tmp["talk_gender"] = ""

In [35]:
talk2tmp.shape

(25, 5)

In [36]:
talk2tmp.head()

            speaker_1         speaker_2 gender_1 gender_2 talk_gender
Talk_ID
118       Sergey Brin        Larry Page     male     male
222       Jill Sobule     Julia Sweeney   female   female
224         Roy Gould       Curtis Wong     male     male
246      Tod Machover        Dan Ellsey     male     male
322      Bruno Bowden  Rufus Cappadocia     male     male

Now we check which rows have the same genders for both speakers. We will assign those talks to have the gender of the speakers (which in this case is the same).

In [37]:
talk2tmp.loc[talk2tmp["gender_1"] == talk2tmp["gender_2"], "talk_gender"] = talk2tmp["gender_1"]

Next for the rows without matching genders across the speakers, we assign the talk with the label "No one gender". We then check our resulting data slice:

In [38]:
talk2tmp.loc[talk2tmp["gender_1"] != talk2tmp["gender_2"], "talk_gender"] = "No one gender"

In [39]:
talk2tmp

,speaker_1,speaker_2,gender_1,gender_2,talk_gender
Talk_ID,,,,,
118,Sergey Brin,Larry Page,male,male,male
222,Jill Sobule,Julia Sweeney,female,female,female
224,Roy Gould,Curtis Wong,male,male,male
246,Tod Machover,Dan Ellsey,male,male,male
322,Bruno Bowden,Rufus Cappadocia,male,male,male
385,Zach Kaplan,Keith Schacht,male,male,male
481,Pattie Maes,Pranav Mistry,female,male,No one gender
881,Stewart Brand,Mark Z. Jacobson,male,male,male
988,David Byrne,Thomas Dolby,male,male,male
1156,Robert Gupta,Joshua Roman,male,male,male
1304,Homaro Cantu,Ben Roche,male,male,male
1722,Miranda Wang,Jeanny Yao,female,female,female
1823,Eric Berlow,Sean Gourley,male,male,male
1948,Steven Pinker,Rebecca Newberger Goldstein,male,female,No one gender
1964,Bill Gates,Melinda Gates,male,female,No one gender
1972,Gabby Giffords,Mark Kelly,female,male,No one gender
2300,Alec Soth,Stacey Baker,male,female,No one gender
2611,Silk Road Ensemble,Rhiannon Giddens,they (group mixed),female,No one gender
2481,Amanda Palmer,Jherek Bischoff,female,male,No one gender
2770,Serena Williams,Gayle King,female,female,female
2788,T. Morgan Dixon,Vanessa Garrison,female,female,female
2851,Jon Boogz,Lil Buck,male,male,male
3625,Shonda Rhimes,Cyndi Stivers,female,female,female
3633,Sebastian Thrun,Chris Anderson,male,male,male
8420,Stewart Brand,Chris Anderson,male,male,male

### Gendering talks with four speakers

Now with that talks with one and two speakers have been "gendered," we turn our attention to the remaining talks. As for talks with two speakers, if the multiple speakers for a talk have the same gender, then we label the talk with that gender. 

Since there was no talk with three speakers, we move right on to the only talk with four speakers. For consistency, we will use the same procedure as for talks with two speakers.

In [40]:
# We want to take speaker gender from speakers and put it into the talks
# Remove the extra speaker column and rename the last column to "gender_1"
talk4tmp = (talk4.reset_index()
            .merge(gender_slice, left_on = "speaker_1", right_on = "speaker", how = "left")
            .drop(columns = ['speaker'])
            .merge(gender_slice, left_on = "speaker_2", right_on = "speaker", how = "left")
            .drop(columns = ['speaker'])
            .rename(columns={"gender_x": "gender_1", "gender_y": "gender_2"})
            .merge(gender_slice, left_on = "speaker_3", right_on = "speaker", how = "left")
            .drop(columns = ['speaker'])
            .merge(gender_slice, left_on = "speaker_4", right_on = "speaker", how = "left")
            .drop(columns = ['speaker'])
            .rename(columns={"gender_x": "gender_3", "gender_y": "gender_4"})
            .set_index("Talk_ID"))
# We use `reset_index()` to preserve the `Talk_ID` column

In [41]:
talk4tmp

,speaker_1,speaker_2,speaker_3,speaker_4,gender_1,gender_2,gender_3,gender_4
Talk_ID,,,,,,,,
1786,Diana Reiss,Neil Gershenfeld,Peter Gabriel,Vint Cerf,female,male,male,male

What is interesting about this talk is that three of the speakers are male, while one is female. In keeping with our work on two speakers, we will label this as "No one gender". But for future experiments, it may be useful to remember that the majority of these speakers are male.

In [42]:
# Add empty column for the talk's gender: 
talk4tmp["talk_gender"] = "No one gender"

In [43]:
talk4tmp

,speaker_1,speaker_2,speaker_3,speaker_4,gender_1,gender_2,gender_3,gender_4,talk_gender
Talk_ID,,,,,,,,,
1786,Diana Reiss,Neil Gershenfeld,Peter Gabriel,Vint Cerf,female,male,male,male,No one gender

## Concatenating the Genders

Now that we have gendered all the talks in several pieces, we need to recombine these pieces. Again, in keeping with the SQL approach, as we do these combinations, we only need two columns: `Talk_ID` and `talk_gender`. 

We begin by only selecting the necessary columns. We then concatenate these pieces into one column.

In [44]:
t1add = talk1tmp["talk_gender"]
t2add = talk2tmp["talk_gender"]
t4add = talk4tmp["talk_gender"]

In [45]:
talk_just_gender = pd.concat([t1add,t2add,t4add])

Now we merge the combined result of all the talks' genders with the main dataframe:

In [46]:
ted_gender = (ted_only.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])
              .reset_index()
              .merge(talk_just_gender, on = "Talk_ID", how = "left")
              .set_index("Talk_ID"))

In [47]:
ted_gender

,public_url,headline,description,event,duration,published,tags,views,text,speaker_1,speaker_2,speaker_3,speaker_4,talk_gender
Talk_ID,,,,,,,,,,,,,,
1,https://www.ted.com/talks/al_gore_on_averting_...,Averting the climate crisis,With the same humor and humanity he exuded in ...,TED2006,0:16:17,6/27/06,"alternative energy,cars,global issues,climate ...",3266733,"Thank you so much, Chris. And it's truly a g...",Al Gore,NaN,NaN,NaN,male
7,https://www.ted.com/talks/david_pogue_says_sim...,Simplicity sells,New York Times columnist David Pogue takes aim...,TED2006,0:21:26,6/27/06,"simplicity,entertainment,interface design,soft...",1702201,"(Music: ""The Sound of Silence,"" Simon & Garf...",David Pogue,NaN,NaN,NaN,male
53,https://www.ted.com/talks/majora_carter_s_tale...,Greening the ghetto,"In an emotionally charged talk, MacArthur-winn...",TED2006,0:18:36,6/27/06,"MacArthur grant,cities,green,activism,politics...",2000421,If you're here today — and I'm very happy th...,Majora Carter,NaN,NaN,NaN,female
66,https://www.ted.com/talks/ken_robinson_says_sc...,Do schools kill creativity?,Sir Ken Robinson makes an entertaining and pro...,TED2006,0:19:24,6/27/06,"children,teaching,creativity,parenting,culture...",51614087,Good morning. How are you? (Laughter) ...,Ken Robinson,NaN,NaN,NaN,male
92,https://www.ted.com/talks/hans_rosling_shows_t...,The best stats you've ever seen,You've never seen data presented like this. Wi...,TED2006,0:19:50,6/27/06,"demo,Asia,global issues,visualizations,global ...",12662135,"About 10 years ago, I took on the task to te...",Hans Rosling,NaN,NaN,NaN,male
96,https://www.ted.com/talks/tony_robbins_asks_wh...,Why we do what we do,"Tony Robbins discusses the ""invisible forces"" ...",TED2006,0:21:45,6/27/06,"entertainment,goal-setting,potential,psycholog...",22368699,Thank you. I have to tell you I'm both chall...,Tony Robbins,NaN,NaN,NaN,male
49,https://www.ted.com/talks/joshua_prince_ramus_...,Behind the design of Seattle's library,Architect Joshua Prince-Ramus takes the audien...,TED2006,0:19:58,7/10/06,"library,architecture,design,culture,collaboration",1042335,I'm going to present three projects in rapid...,Joshua Prince-Ramus,NaN,NaN,NaN,male
86,https://www.ted.com/talks/julia_sweeney_on_let...,Letting go of God,When two young Mormon missionaries knock on Ju...,TED2006,0:16:32,7/10/06,"atheism,Christianity,religion,God,comedy,humor...",3903747,"On September 10, the morning of my seventh b...",Julia Sweeney,NaN,NaN,NaN,female
71,https://www.ted.com/talks/rick_warren_on_a_lif...,A life of purpose,"Pastor Rick Warren, author of ""The Purpose-Dri...",TED2006,0:21:02,7/18/06,"Christianity,philanthropy,religion,God,happine...",3361934,"I'm often asked, ""What surprised you about t...",Rick Warren,NaN,NaN,NaN,male
94,https://www.ted.com/talks/dan_dennett_s_respon...,Let's teach religion -- all religion -- in sch...,Philosopher Dan Dennett calls for religion -- ...,TED2006,0:24:45,7/18/06,"atheism,consciousness,evolution,philosophy,rel...",2751013,It's wonderful to be back. I love this wonde...,Dan Dennett,NaN,NaN,NaN,male
54,https://www.ted.com/talks/cameron_sinclair_on_...,My wish: A call for open-source architecture,"Accepting his 2006 TED Prize, Cameron Sinclair...",TED2006,0:23:34,7/25/06,"disaster relief,open-source,philanthropy,globa...",1248115,I'm going to take you on a journey very quic...,Cameron Sinclair,NaN,NaN,NaN,male
55,https://www.ted.com/talks/jehane_noujaim_inspi...,My wish: A global day of film,Jehane Noujaim unveils her 2006 TED Prize wish...,TED2006,0:25:38,7/25/06,"TED Prize,peace,entertainment,movies,global is...",409921,I can't help but this wish: to think about w...,Jehane Noujaim,NaN,NaN,NaN,female
58,https://www.ted.com/talks/larry_brilliant_want...,My wish: Help me stop pandemics,"Accepting the 2006 TED Prize, Dr. Larry Brilli...",TED2006,0:25:50,7/25/06,"TED Prize,ebola,global issues,health,disease,s...",746018,I'm the luckiest guy in the world. I got to ...,Larry Brilliant,NaN,NaN,NaN,male
41,https://www.ted.com/talks/nicholas_negroponte_...,One Laptop per Child,"Nicholas Negroponte, founder of the MIT Media ...",TED2006,0:17:37,8/1/06,"philanthropy,global issues,children,design,ent...",398774,I've been at MIT for 44 years. I went to TED...,Nicholas Negroponte,NaN,NaN,NaN,male
65,https://www.ted.com/talks/jeff_han_demos_his_b...,The radical promise of the multi-touch interface,"Jeff Han shows off a cheap, scalable multi-tou...",TED2006,0:08:47,8/1/06,"demo,interface design,design,technology",4609377,I'm really excited to be here today. I'll sh...,Jeff Han,NaN,NaN,NaN,male
46,https://www.ted.com/talks/jennifer_lin_improvs...,"Improvising on piano, aged 14",Pianist and composer Jennifer Lin gives a magi...,TED2004,0:24:05,8/8/06,"wunderkind,entertainment,piano,creativity,musi...",1680398,(Music) (Music ends) (Applause) Tha...,Jennifer Lin,NaN,NaN,NaN,female
45,https://www.ted.com/talks/sirena_huang_dazzles...,An 11-year-old's magical violin,Violinist Sirena Huang gives a technically bri...,TED2006,0:24:41,8/8/06,"violin,wunderkind,entertainment,youth,music,pe...",2811646,(Music) (Music ends) (Applause) (Ap...,Sirena Huang,NaN,NaN,NaN,female
27,https://www.ted.com/talks/ross_lovegrove_share...,"Organic design, inspired by nature",Designer Ross Lovegrove expounds his philosoph...,TED2005,0:19:30,8/15/06,"science and art,DNA,industrial design,nature,d...",1128239,My name is Lovegrove. I only know nine Loveg...,Ross Lovegrove,NaN,NaN,NaN,male
2,https://www.ted.com/talks/amy_smith_shares_sim...,Simple designs to save a life,Fumes from indoor cooking fires kill more than...,TED2006,0:15:06,8/15/06,"simplicity,MacArthur grant,alternative energy,...",1513956,"In terms of invention, I'd like to tell you ...",Amy Smith,NaN,NaN,NaN,female
25,https://www.ted.com/talks/richard_baraniuk_on_...,The birth of the open-source learning revolution,"In 2006, open-learning visionary Richard Baran...",TED2006,0:18:34,8/21/06,"library,open-source,global issues,culture,busi...",1002555,I'm Rich Baraniuk and what I'd like to talk ...,Richard Baraniuk,NaN,NaN,NaN,male
87,https://www.ted.com/talks/ze_frank_s_nerdcore_...,Nerdcore comedy,Performer and web toymaker Ze Frank delivers a...,TED2004,0:18:56,8/25/06,"demo,entertainment,software,comedy,humor,cultu...",6421683,"You know, when Chris first approached me to ...",Ze Frank,NaN,NaN,NaN,male
21,https://www.ted.com/talks/mena_trott_tours_her...,Meet the founder of the blog revolution,"The founding mother of the blog revolution, Mo...",TED2006,0:16:46,8/25/06,"entertainment,software,storytelling,design,cul...",534963,"Over the past couple of days, as I've been p...",Mena Trott,NaN,NaN,NaN,female
64,https://www.ted.com/talks/eve_ensler_on_happin...,Happiness in body and soul,"Eve Ensler, creator of ""The Vagina Monologues,...",TED2004,0:20:25,9/6/06,"theater,entertainment,gender,global issues,hap...",1194219,I bet you're worried. (Laughter) I was...,Eve Ensler,NaN,NaN,NaN,female
16,https://www.ted.com/talks/helen_fisher_tells_u...,"Why we love, why we cheat",Anthropologist Helen Fisher takes on a tricky ...,TED2006,0:23:27,9/6/06,"evolution,gender,psychology,love,relationships...",9865661,I'd like to talk today about the two biggest...,Helen Fisher,NaN,NaN,NaN,female
20,https://www.ted.com/talks/malcolm_gladwell_on_...,"Choice, happiness and spaghetti sauce","""Tipping Point"" author Malcolm Gladwell gets i...",TED2004,0:17:30,9/19/06,"marketing,consumerism,choice,media,storytellin...",7369998,I think I was supposed to talk about my new ...,Malcolm Gladwell,NaN,NaN,NaN,male
29,https://www.ted.com/talks/steven_levitt_analyz...,The freakonomics of crack dealing,"""Freakonomics"" author Steven Levitt presents n...",TED2004,0:21:15,9/19/06,"narcotics,cities,economics,culture,business,race",3066070,You'll be happy to know that I'll be talking...,Steven Levitt,NaN,NaN,NaN,male
97,https://www.ted.com/talks/dan_gilbert_asks_why...,The surprising science of happiness,"Dan Gilbert, author of ""Stumbling on Happiness...",TED2004,0:21:16,9/26/06,"evolution,choice,happiness,psychology,brain,sc...",15685502,"When you have 21 minutes to speak, two milli...",Dan Gilbert,NaN,NaN,NaN,male
12,https://www.ted.com/talks/eva_vertes_looks_to_...,Meet the future of cancer research,Eva Vertes -- only 19 when she gave this talk ...,TED2005,0:18:49,10/2/06,"wunderkind,health,disease,cancer,science,techn...",1067666,Thank you. It's really an honor and a privil...,Eva Vertes,NaN,NaN,NaN,female
89,https://www.ted.com/talks/ben_saunders_skis_to...,Why did I ski to the North Pole?,Arctic explorer Ben Saunders recounts his harr...,TED2005,0:18:03,10/25/06,"travel,sports,global issues,climate change,pot...",792131,This is me. My name is Ben Saunders. I speci...,Ben Saunders,NaN,NaN,NaN,male
4,https://www.ted.com/talks/burt_rutan_sees_the_...,The real future of space exploration,"In this passionate talk, legendary spacecraft ...",TED2006,0:19:37,10/25/06,"rocket science,industrial design,NASA,engineer...",2157418,"I want to start off by saying, Houston, we h...",Burt Rutan,NaN,NaN,NaN,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2882,https://www.ted.com/talks/karoliina_korppoo_ho...,How a video game might help us build better ci...,With more than half of the world population li...,TED2017,0:08:39,9/22/17,"cities,infrastructure,urban planning,software,...",1318166,"We humans are becoming an urban species, so ...",Karoliina Korppoo,NaN,NaN,NaN,female
2872,https://www.ted.com/talks/mei_lin_neo_the_fasc...,The fascinating secret lives of giant clams,"When you think about the deep blue sea, you mi...",TED2017,0:05:27,9/26/17,"marine biology,conservation,oceans,nature,anim...",1127421,"Back home, my friends call me nicknames, suc...",Mei Lin Neo,NaN,NaN,NaN,female
2878,https://www.ted.com/talks/anna_heringer_the_wa...,The warmth and wisdom of mud buildings,"""There are a lot of resources given by nature ...",TED2017,0:13:01,9/28/17,"engineering,architecture,design,materials,envi...",1019972,It was the end of October in the mountains i...,Anna Heringer,NaN,NaN,NaN,female
2883,https://www.ted.com/talks/helen_pearson_lesson...,Lessons from the longest study on human develo...,"For the past 70 years, scientists in Britain h...",TED2017,0:12:25,10/2/17,"journalism,aging,happiness,children,economics,...",1818595,"Today I want to confess something to you, bu...",Helen Pearson,NaN,NaN,NaN,female
2892,https://www.ted.com/talks/prumsodun_ok_the_mag...,The magic of Khmer classical dance,"For more than 1,000 years, Khmer dancers in Ca...",TED2017,0:10:38,10/3/17,"gay,gender,performance art,art,beauty,TED Fell...",1131496,"""Robam kbach boran,"" or the art of Khmer cla...",Prumsodun Ok,NaN,NaN,NaN,male
2885,https://www.ted.com/talks/levon_biss_mind_blow...,"Mind-blowing, magnified portraits of insects","Photographer Levon Biss was looking for a new,...",TED2017,0:07:48,10/4/17,"insects,photography,animals,art,creativity",1094306,"So, I had been a photographer for 18 years b...",Levon Biss,NaN,NaN,NaN,male
3013,https://www.ted.com/talks/greg_gage_electrical...,Electrical experiments with plants that count ...,Neuroscientist Greg Gage takes sophisticated e...,TED2017,0:09:30,10/10/17,"biomechanics,plants,nature,electricity,teachin...",1635047,"I'm a neuroscientist, and I'm the co-founder...",Greg Gage,NaN,NaN,NaN,male
2894,https://www.ted.com/talks/sara_dewitt_3_fears_...,3 fears about screen time for kids -- and why ...,We check our phones upwards of 50 times per da...,TED2017,0:11:51,10/12/17,"family,media,children,technology,future,educat...",1415838,I want us to start by thinking about this de...,Sara DeWitt,NaN,NaN,NaN,female
3136,https://www.ted.com/talks/kristin_poinar_what_...,What's hidden under the Greenland ice sheet?,"The Greenland ice sheet is massive, mysterious...",TED2017,0:09:02,10/17/17,"glacier,physics,NASA,climate change,nature,exp...",1876754,"When was I was 21 years old, I had all this ...",Kristin Poinar,NaN,NaN,NaN,female
3231,https://www.ted.com/talks/elizabeth_wayne_we_c...,We can hack our immune cells to fight cancer,After decades of research and billions spent i...,TED2017,0:05:32,10/17/17,"human body,TED Fellows,cancer,science",1213659,After decades of research and billions of do...,Elizabeth Wayne,NaN,NaN,NaN,female
3257,https://www.ted.com/talks/uldus_bakhtiozina_po...,Portraits that transform people into whatever ...,"With her gorgeous, haunting photographs, artis...",TED2017,0:07:19,10/19/17,"photography,art,TED Fellows,creativity,identity",905359,"I'm often asked why I do art, what do I want...",Uldus Bakhtiozina,NaN,NaN,NaN,female
3363,https://www.ted.com/talks/anjan_sundaram_why_i...,Why I risked my life to expose a government ma...,A war zone can pass for a mostly peaceful plac...,TED2017,0:07:34,10/24/17,"war,journalism,corruption,TED Fellows,Africa",977243,What does it mean to be a witness? Why is it...,Anjan Sundaram,NaN,NaN,NaN,male
3573,https://www.ted.com/talks/martin_ford_how_we_l...,How we'll earn money in a future without jobs,"Machines that can think, learn and adapt are c...",TED2017,0:14:37,10/26/17,"economics,capitalism,computers,robots,AI,algor...",2009142,I'm going to begin with a scary question: Ar...,Martin Ford,NaN,NaN,NaN,male
3578,https://www.ted.com/talks/cynthia_erivo_natura...,"""Natural Woman"" and ""Johnny and Donna""","""I love to sing,"" says Cynthia Erivo, ""because...",TED2017,0:10:00,10/27/17,"piano,live music,vocals,music,performance,singer",136457,"Johnny met Donna, (Piano) and they fel...",Cynthia Erivo,NaN,NaN,NaN,female
3625,https://www.ted.com/talks/shonda_rhimes_and_cy...,The future of storytelling,"""We all feel a compelling need to watch storie...",TED2017,0:21:58,10/30/17,"television,family,media,writing,storytelling,c...",1092695,"Cyndi Stivers: So, future of storytelling. B...",Shonda Rhimes,Cyndi Stivers,NaN,NaN,female
3579,https://www.ted.com/talks/tim_kruger_can_we_st...,Can we stop climate change by removing CO2 fro...,Could we cure climate change? Geoengineering r...,TED2017,0:08:56,10/31/17,"alternative energy,engineering,natural resourc...",1170289,"To avoid dangerous climate change, we're goi...",Tim Kruger,NaN,NaN,NaN,male
3587,https://www.ted.com/talks/lauren_sallan_how_to...,How to win at evolution and survive a mass ext...,"Congratulations! By being here, alive, you are...",TED2017,0:06:05,10/31/17,"fish,biodiversity,history,TED Fellows,biology,...",1045717,"Congratulations. By being here, listening, a...",Lauren Sallan,NaN,NaN,NaN,female
3615,https://www.ted.com/talks/david_titley_how_the...,How the military fights climate change,Military leaders have known for millennia that...,TED2017,0:07:41,11/15/17,"natural disaster,global issues,climate change,...",941057,So I'd like to tell you a story about climat...,David Titley,NaN,NaN,NaN,male
3617,https://www.ted.com/talks/kayla_briet_why_do_i...,Why do I make art? To build time capsules for ...,Kayla Briá«t creates art that explores identit...,TED2017,0:05:56,11/17/17,"family,film,art,TED Fellows,creativity,culture...",871987,"When I was four years old, my dad taught me ...",Kayla Briët,NaN,NaN,NaN,female
2868,https://www.ted.com/talks/elizabeth_blackburn_...,The science of cells that never get old,What makes our bodies age ... our skin wrinkle...,TED2017,0:18:46,11/27/17,"bioethics,Nobel Prize,DNA,discovery,biomechani...",1486781,"Where does the end begin? Well, for me, it a...",Elizabeth Blackburn,NaN,NaN,NaN,female
3671,https://www.ted.com/talks/matilda_ho_the_futur...,The future of good food in China,Fresh food free of chemicals and pesticides is...,TED2017,0:05:04,11/28/17,"china,farming,agriculture,TED Fellows,food,hea...",1239901,I was six when I had the first chance to lea...,Matilda Ho,NaN,NaN,NaN,female
3633,https://www.ted.com/talks/sebastian_thrun_and_...,What AI is -- and isn't,Educator and entrepreneur Sebastian Thrun want...,TED2017,0:24:21,11/30/17,"driverless cars,interview,software,potential,m...",1370154,Chris Anderson: Help us understand what mach...,Sebastian Thrun,Chris Anderson,NaN,NaN,male
5072,https://www.ted.com/talks/devita_davison_how_u...,How urban agriculture is transforming Detroit,There's something amazing growing in the city ...,TED2017,0:12:22,12/7/17,"urban,garden,cities,public health,farming,agri...",1015678,I'm from Detroit. (Applause) A city th...,Devita Davison,NaN,NaN,NaN,female
4958,https://www.ted.com/talks/david_brenner_a_new_...,A new weapon in the fight against superbugs,Since the widespread use of antibiotics began ...,TED2017,0:10:13,12/14/17,"public health,bacteria,virus,health,medicine,i...",1062029,So ... we're in a real live war at the momen...,David Brenner,NaN,NaN,NaN,male
3623,https://www.ted.com/talks/atul_gawande_want_to...,Want to get great at something? Get a coach,How do we improve in the face of complexity? A...,TED2017,0:16:58,12/15/17,"Surgery,goal-setting,potential,teaching,life,s...",1493621,I don't come to you today as an expert. I co...,Atul Gawande,NaN,NaN,NaN,male
8420,https://www.ted.com/talks/stewart_brand_and_ch...,"Mammoths resurrected, geoengineering and other...","Stewart Brand is a futurist, counterculturist ...",TED2017,0:30:31,1/5/18,"green,deextinction,space,environment,science,f...",1044580,"Chris Anderson: OK, Stewart, in the '60s, yo...",Stewart Brand,Chris Anderson,NaN,NaN,male
8588,https://www.ted.com/talks/jacob_collier_a_one_...,A one-man musical phenomenon,Jacob Collier is a one-man band and force of n...,TED2017,0:15:14,1/12/18,"visualizations,performance art,live music,voca...",469560,(Music) (Singing) I was walking down the ...,Jacob Collier,NaN,NaN,NaN,male
8606,https://www.ted.com/talks/anna_rosling_ronnlun...,"See how the rest of the world lives, organized...",What does it look like when someone in Sweden ...,TED2017,0:11:41,1/18/18,"global issues,visualizations,photography,data,...",1330850,What images do we see from the rest of the w...,Anna Rosling Rönnlund,NaN,NaN,NaN,female
9987,https://www.ted.com/talks/guy_winch_how_to_fix...,How to fix a broken heart,"At some point in our lives, almost every one o...",TED2017,0:12:25,2/5/18,"love,addiction,depression,compassion,personal ...",2315815,"At some point in our lives, almost every one...",Guy Winch,NaN,NaN,NaN,male
10807,https://www.ted.com/talks/chuck_nice_a_funny_l...,A funny look at the unintended consequences of...,"Technology should work for us, but what happen...",TED2017,0:10:42,2/27/18,"AI,funny,comedy,computers,technology,social me...",541730,Future tech always comes with two things: pr...,Chuck Nice,NaN,NaN,NaN,male

## Splitting the talks by gender

Now we can split the talks into three groups by gender: male, female, and no one gender. By splitting our talks into these groups, we can investigate various gender dimensions of TED talk transcripts.

In [50]:
m_talks = ted_gender[ted_gender["talk_gender"] == "male"]
f_talks = ted_gender[ted_gender["talk_gender"] == "female"]
ng_talks = ted_gender[ted_gender["talk_gender"] == "No one gender"]