In [2]:
import re, pandas as pd, matplotlib.pyplot as plt, numpy as np

In [3]:
df = pd.read_csv('../output/TEDall_years.csv', index_col=0)
print(df.shape)
df.head()

(1747, 5)

,public_url,event,published,text,year
0,https://www.ted.com/talks/al_gore_on_averting_...,TED2006,6/27/06,"Thank you so much, Chris. And it's truly a g...",2006
1,https://www.ted.com/talks/david_pogue_says_sim...,TED2006,6/27/06,"(Music: ""The Sound of Silence,"" Simon & Garf...",2006
2,https://www.ted.com/talks/majora_carter_s_tale...,TED2006,6/27/06,If you're here today — and I'm very happy th...,2006
3,https://www.ted.com/talks/ken_robinson_says_sc...,TED2006,6/27/06,Good morning. How are you? (Laughter) ...,2006
4,https://www.ted.com/talks/hans_rosling_shows_t...,TED2006,6/27/06,"About 10 years ago, I took on the task to te...",2006

In [4]:
# df['year'].value_counts() # sort by count
df.groupby('year')['year'].count() # sorts by year

year
1984      1
1990      1
1994      1
1998      6
2001      3
2002     28
2003     34
2004     31
2005     62
2006     43
2007     92
2008     56
2009    155
2010    162
2011    150
2012    146
2013    162
2014    154
2015    149
2016    145
2017    166
Name: year, dtype: int64

In [5]:
bool_series = pd.isnull(df["year"])
df[bool_series]

Empty DataFrame
Columns: [public_url, event, published, text, year]
Index: []